style {
    margin: 0;
    padding: 0;
}

.bx {
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 100px;
}

.left {
    background: url("../img/sprites-hash-c9975078.png") 311px -51px;
    width: 125px;
    height: 100px;
    float: left;
}

.right {
    background: url("../img/sprites-hash-c9975078.png") -1px -3px;
    height: 100px;
    float: right;
    width: 304px;
}

.btn {
    width: 298px;
    height: 40px;
    line-height: 40px;
    background: hotpink;
    margin-top: -5px;
    text-align: center;
    margin-left: 32px;
}

.wrap {
    background: url("../img/15487540172274.jpg") -285px 0px;
    height: 650px;
}

.content {
    width: 360px;
    height: 351px;
    background: #fff;
    float: right;
    text-align: center;
    margin-top: 101px;
    position: relative;
}

input {
    width: 302px;
    height: 46px;
    margin-bottom: 35px;
}

.span2 {
    position: absolute;
    left: 25px;
    top: 172px;
    width: 300px;
    color: red;
    font-weight: 700;
    font-size: 12px;
    display: none;
}

.span1 {
    position: absolute;
    left: 25px;
    top: 84px;
    width: 300px;
    color: red;
    font-weight: 700;
    font-size: 12px;
    display: none;
}

.span3 {
    position: absolute;
    left: 25px;
    top: 263px;
    width: 300px;
    color: red;
    font-weight: 700;
    font-size: 12px;
    display: none;
}


.footer-c {
    text-align: center;
    height: 78px;
    line-height: 78px;
}